PORT=3001
NODE_ENV=production
MONGODB_URI=mongodb+srv://USER:PASS@cluster0.xxxxx.mongodb.net/?appName=Cluster0
SESSION_SECRET=thay_bang_32ky_tu_ngau_nhien
ADMIN_SECRET_KEY=thay_bang_key_manh
ADMIN_APP_KEY=thay_bang_app_key
DISCORD_WEBHOOK_URL=
SEPAY_BANK_CODE=KLB
SEPAY_BANK_NAME=KienLongBank
SEPAY_ACCOUNT=101499100004630283
SEPAY_ACCOUNT_NAME=KIEU THANH HAI
GOOGLE_CLIENT_ID=
GOONG_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
VIETQR_CLIENT_ID=
VIETQR_API_KEY=
BASE_URL=https://crabor.asia
